
form {
    max-width: 500px; 
}
  
@media (max-width: 1024px) {
    .flex {
      flex-direction: column; 
    }
}
  
@media (min-width: 1024px) {
    .flex {
      flex-direction: row;  
    }
}
  
.table-container {
    margin-right: 1rem;
}
  